<ul *ngIf="results.length!=0" class="result">
  <li *ngFor="let result of results">
    <div class="result--item">
      <a href="http://{{result.siteUrl}}" class="result--item-url">{{result.siteUrl}}</a>
      <p class="result--item-text">{{result.description}}</p>
    </div>
  </li>
</ul>
<div *ngIf="results.length==0" class="no-results">
  We currently don’t have any results for your search, try another.
</div>
