.result{
  padding: 0;
  margin-top: 35px;
}

.result li{
  list-style-type: none;
  margin-bottom: 20px;
}

.result--item-url{
  font-size: 20px;
  color: #006dcc;
}

.result--item-text{
  margin-top: 2px;
  font-size: 14px;
}


.no-results{
  border:1px solid #d8d8d9;
  padding: 10px;
  margin: 20px auto;
  width: 70%;
  text-align: center;
  color: #919395;
}