.search-box{
  padding: 20px 23px;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  width: 100%;
  border: none;
  
}
.search-box:focus{
  outline:none;
  background-color: #e8edf0;
}

.icon-wrapper{
  position: relative;
  border: 1px solid #d8d8d9;
  overflow: hidden;
}

.icon-wrapper::after{
  content:'';
  position: absolute;
  right: 16px;
  top: 27px;
  bottom: 20px;
  width: 28px;
  background: url('/assets/search-icon.svg');
  background-repeat: no-repeat;
}
