/* You can add global styles to this file, and also import other style files */

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}

main{
  min-height: 800px;
  margin: 28px 0;
}


/*** Header styles **/
.header{
  background-color: #FFFFFF;
  border: 1px solid #d8d8d9;
  clear: both;
}

.header__logo{
  width: 96px;
  display: block;
  padding: 20px 0;
}

.header__control{
  float: right;
}

/*** Footer styles **/
.footer{
  box-sizing: border-box;
  color: #78797b;
  background-color: #231F20;
  margin: auto 0;
}


.footer__logo{
  margin: auto 0;
  padding: 19px 0;
}

.footer__logo img{
  width: 100px;
  display: block;
  margin: auto;
}

.footer__links{
  text-align: center;
  padding: 15px 10px 40px 10px;
  font-size: 11px;
  border-top: 1px solid #4b4b4c;
}

/*** util styles **/
.large-padding{
  padding: 0 10px;
}

/** responsive layout -tablet **/
@media (min-width: 48em) {
  .large-padding{
    padding: 0 100px;
  }
}

/** responsive layout -desktop **/
@media (min-width: 80em) {
  .large-padding{
    padding: 0 220px;
  }
}